<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<div layout:fragment="contentForView" class="template-content">
    <h1>Voici mon compte : HelloWorld</h1>
    <main>
        <div>
            <h1>Kephren NZET</h1>
            <img th:src="@{/img/utilisateur.png}" alt="" class="icon">
        </div>
        <h1>Mon profile</h1>
        <form id="updateUserForm">
            <input type="text" id="userName" required>
            <input type="email" id="userEmail" required> 
            <input type="number" id="numTel" required> 
            <div class="adresse"> 
                <input type="text" id="ville" placeholder="Ville" required>
                <input type="text" id="quartier" placeholder="Quartier" required>
                <input type="text" id="villa" placeholder="Numéro de villa" required>
            </div>
            <button type="submit">Mettre à jour</button>  
        </form>

        <script>  
            document.getElementById('updateUserForm').onsubmit = function(event) {  
                event.preventDefault();  
                const userName = document.getElementById('userName').value;  
                const userEmail = document.getElementById('userEmail').value;
                const userTel = document.getElementById('numTel').value;  
                const userVille = document.getElementById('ville').value;  
                const userQuartier = document.getElementById('quartier').value;  
                const userVilla = document.getElementById('villa').value;  

                fetch(`/client/${userId}`, {  
                    method: 'PUT',  
                    headers: {  
                        'Content-Type': 'application/json'  
                    },  
                    body: JSON.stringify({  
                        nomComplet: userName,  
                        email: userEmail,
                        tel: userTel,
                        ville: userVille,
                        quartier: userQuartier,
                        villa: userVilla
                    })  
                })  
                .then(response => {  
                    if (response.ok) {  
                        alert('Utilisateur mis à jour avec succès!');  
                    } else {  
                        alert('Utilisateur non trouvé.');  
                    }  
                })  
                .catch(error => {  
                    console.error('Erreur:', error);  
                });  
            };  
        </script>  
    </main>
    <style>
        button{
            font-size: 1rem;
            color: white;
            background-color: whitesmoke;
            padding: 7.5px 15px;
            border-radius: 10px;
            border: none;
        }
    </style>
</div>
</html>