<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<div layout:fragment="contentForView" class="template-content">
    <main>
        <aside class="cart">
            <div class="banner">
                <h2>Details du produit</h2>
            </div>
            <div class="cart-content">
                <div class="li">
                    <div class="card">
                        <img id="img-details"
                             th:src="@{${climDetails.image}}" alt="">
                        <div id="card-details">
                            <p id="card-details-title"> <strong th:text="${climDetails.libelle}"> </strong></p>
                            <p>Categorie : <span th:text="${climDetails.categorie}"></span></p>
                            <p th:text="'Prix : '+${climDetails.prix}"> <span>FCFA</span></p>
                            <p th:text="'Surface de refroidissement : '+${climDetails.surface}"><span>M²</span></p>
                            <p th:text="'Capacité de refroidissement : '+${climDetails.capacite}"> <span>BTU/H</span></p>
                            <p >Marque : <span th:text="${climDetails.marque}">LG</span></p>
                            <p>Etat : <span th:text="${climDetails.etat}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="payment">
            <div class="summary">
                <h2>Résumé du produit</h2>
                <div class="total">
                    <p>Promotion : </p>
                    <p><span th:text="' '+${climDetails.promotion}"></span></p>
                </div>
                <div class="total">
                    <p>Prix final : </p>
                    <p th:text="' '+${climDetails.prixFinal}">  <span>FCFA</span></p>
                </div>
                <button>Ajouter au panier</button>
            </div>
        </aside>
    </main>
</div>
</html>