<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-item">
            <h1>Clim <span>Shop</span></h1>
        </div>
        <div class="nav-item">
            <input type="text">
            <button type="submit">Rechercher</button>
        </div>
        <div class="nav-item">
            <a href="../home.html">
                <img src="../../static/img/accueil.png" alt="acceuil" class="icon">
            </a>
            <a href="#">
                <img src="../../static/img/panier-dachat-rapide (1).png" alt="panier" class="icon">
            </a>
            <a href="#">
                <img src="../../static/img/utilisateur.png" alt="utilisateur" class="icon">
            </a>
        </div>
    </div>
    <main>
        <aside class="cart">
            <div class="banner">
                <input type="radio" name="all" id="">
                <h2>Tout sélectionner (2)</h2>
            </div>
            <div class="cart-content">
                <div class="li">
                    <input type="radio" name="" id="">
                    <div class="card">
                        <img src="../../static/img/images (1).jpg" alt="">
                        <div class="card-content">
                            <p class="card-content-title">Climatiseur LG Smart 1.5</p>
                            <p>150000 <span>FCFA</span></p>
                            <div class="card-actions">
                                <input type="number" name="" id="" placeholder="Qte">
                                <a href="">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="li">
                    <input type="radio" name="" id="">
                    <div class="card">
                        <img src="../../static/img/images (1).jpg" alt="">
                        <div class="card-content">
                            <p class="card-content-title">Climatiseur LG Smart 1.5</p>
                            <p>150000 <span>FCFA</span></p>
                            <div class="card-actions">
                                <input type="number" name="" id="" placeholder="Qte">
                                <a href="">Details</a>
                            </div>
                        </div>
                    </div>
                </div>    
            
                <div class="li">
                    <input type="radio" name="" id="">
                    <div class="card">
                        <img src="../../static/img/images (1).jpg" alt="">
                        <div class="card-content">
                            <p class="card-content-title">Climatiseur LG Smart 1.5</p>
                            <p>150000 <span>FCFA</span></p>
                            <div class="card-actions">
                                <input type="number" name="" id="" placeholder="Qte">
                                <a href="">Details</a>
                            </div>
                        </div>
                    </div>
                </div>     

            </div>
        </aside>
        <aside class="payment">
            <div class="summary">
                <h2>Résumé de la commande</h2>
                <div class="total">
                    <p>Total :</p>
                    <p> 300000 <span>FCFA</span></p>
                </div>
                <h3>Nous acceptons</h3>
                <div class="pay-mode">
                    <img src="../../static/img/paiement-par-carte-de-credit.png" alt="">
                    <img src="../../static/img/orange-money.jpg" alt="">
                    <img src="../../static/img/wave.png" alt="">
                </div>
                <button>Commander</button>
            </div>
        </aside>
    </main>
</body>
</html>